header {
	background: #fff;
}

header a {
	color: #333;
	text-decoration: none;
}

.navbar {
	padding: 0.625rem 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	display: flex;
	align-items: center;
}

.nav :where(a, button) {
	margin-left: 0.625rem;
}

@media (max-width: 500px) {
	.app-title {
		font-size: 1.5rem;
	}

	.nav :where(span) {
		font-size: 0.75rem;
		margin-left: 0;
	}

	.nav > :nth-child(1) {
		text-align: right;
	}
}
