label,
input {
	display: block;
}

input {
	padding: 0.625rem;
	margin-top: 0.625rem;
	margin-bottom: 1.25rem;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	box-sizing: border-box;
}

textarea {
	width: 100%;
	min-height: 200px;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	margin-bottom: 1.25rem;
	padding: 0.625rem;
	resize: none;
}
